/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.grid-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}